<center>
  <div class = "index_container" id = "new_user_image">
  </div>

    <div class = "dash_banner">
       <div id = "dash_header">SIGN UP FOLKS!</div>
    </div>

<div class = "new_user">
<%= form_for @user do |f| %>

  <div class = "sign_up_error">
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div id = "error_explanation">
          <h3> There are <%= @user.errors.count %> issues, please true again:</h3>
          <ol>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %> </li>
            <% end %>
          </ol>
        </div>
      <%end%>
      <%end%>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div class='field'>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class='field'>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  </br>

  <%= f.submit 'Sign Up' %>

</div>


<% end %>

  </br>

<%= link_to 'Back', root_path %>

</center>
