<center>
  <div class = "index_container" id = "user_game_image">
  </div>

  <div class = "dash_banner">
       <div class = "dash_header">MY GAMES</div>
    </div>

  <h3 id="back">
  <%= link_to 'Back', users_profile_path %>
  </h3>

    <div class="games">
      <% @games.each do |game| %>
        <h2><%=link_to game.event_name, game_path(game.id)  %> </h2>
        <p>Sport: <%= game.sport %></p>
        <p> Address: <%= game.address %> </p>
        <p> Neighbourhood: <%=game.neighbourhood %></p>
        <p>Players Needed: <%= game.players_needed %> </p>
        <p>Currently Have: <%= game.current_players %> </p>
        <p>Skill: <%= game.skill %> </p>
        <p> Date: <%= game.date %> </p>
        <p>Time: <%= game.time %> </p>
        <p> --------------------</p>
      <% end %>
    </div>

  </center>
