<%= link_to 'Back to Profile', users_profile_path, class: 'back_profile' %>

<h1>Your Joined Games</h1>
<% @rsvps.each do |rsvp| %>
  <ul>
    <li>
      <% Game.find_by(id:rsvp.game_id) %>
      <p> Event Name: <%= game.event_name %> </p>
      <p> Address: <%= game.address %> </p>
      <p> Neighbourhood: <%=game.neighbourhood %></p>
      <p> Sport: <%= game.sport %> </p>
      <p> Players Needed: <%= game.players_needed %> </p>
      <p> Current Players: <%= game.current_players %> </p>
      <p> Skill: <%= game.skill %> </p>
      <p> Time: <%= game.time %> </p>
    </li>
  </ul>
<% end %>
