<div class = "start_game_error">
  <%= form_for @game do |f| %>
    <% if @game.errors.any? %>
      <div id = "error_explanation">
        <h3> There are <%= @game.errors.count %> issues, please true again:</h3>
        <ol>
          <% @game.errors.full_messages.each do |msg| %>
            <li><%= msg %> </li>
          <% end %>
        </ol>
      </div>
    <%end%>
  <%end%>

<%= form_for @game do |f| %>

<div class='field'>
  <%=f.label :sport %> <br>
<%= f.select(:sport, ["Basketball", "Hockey", "Soccer", "Tennis" ]) %>
</div>

<div class='field'>
  <%= f.label :event_name %><br>
  <%= f.text_field :event_name %>
</div>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>
<body>
  <div class='field'>
    <%= f.label :date %><br>
    <input type="text" id="datepicker">
</body>
</html>

<div class='field'>
  <%= f.label :date %><br>
  <%= f.text_field :date %>
</div>

<div class='field'>
  <%= f.label :time %><br>
  <%= f.text_field :time %>
</div>

<div class='field'>
  <%=f.label :skill %> <br>
<%= f.select(:skill, ["Beginner", "Intermediate", "Pro" ]) %>
</div>

<!-- %= f.select(:type, ["original","print","other"]) %> -->

<div class='field'>
  <%= f.label :players_needed %><br>
  <%= f.text_field :players_needed %>
</div>

<div class='field'>
  <%= f.label :current_players %><br>
  <%= f.text_field :current_players %>
</div>

<div class='field'>
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</div>


<%= f.submit 'Start Game' %>

<% end %>
