<div class = "start_game_error">
  <%= form_for @game do |f| %>
    <% if @game.errors.any? %>
      <div id = "error_explanation">
        <h3> There are <%= @game.errors.count %> issues, please try again:</h3>
        <ol>
          <% @game.errors.full_messages.each do |msg| %>
            <li><%= msg %> </li>
          <% end %>
        </ol>
      </div>
    <%end%>
  <%end%>

<%= form_for @game do |f| %>

<div class='field'>
  <%=f.label :sport %> <br>
<%= f.select(:sport, ["Baseball", "Basketball", "Hockey", "Soccer", "Tennis" ]) %>
</div>

<div class='field'>
  <%= f.label :event_name, "Event Name" %><br>
  <%= f.text_field :event_name %>
</div>


<div class='field'>
  <%= f.label :datetime, "Date & Time" %><br>
  <%= f.datetime_select :date, { start_year: Date.today.year, end_year: 2020, default: Date.today } %>
</div>

<div class='field'>
  <%=f.label :skill, "Skill Level" %><br>
  <%= f.select(:skill, ["Beginner", "Intermediate", "Pro" ]) %>
</div>

<!-- %= f.select(:type, ["original","print","other"]) %> -->

<div class='field'>
  <%= f.label :current_players, "Current Players" %><br>
  <%= f.select(:current_players, (1..50).to_a) %>
</div>

<div class='field'>
  <%= f.label :players_needed, "Players Needed" %><br>
  <%= f.select(:players_needed, (1..50).to_a) %>
</div>

<div class='field'>
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</div>


<%= f.submit 'Create Game' %>

<% end %>
