
<div class = "index_container" id = "join_join_image">
  </div>

  <div class = "dash_banner">
       <div class = "dash_header">YOUR JOINED GAMES</div>
    </div>

<div class = "joined_games">


<div class = "joined">

<h1>Your Joined Games</h1>

<% @rsvps.each do |rsvp| %>
  <ul>
    <li>
      <% m = Game.find_by(id:rsvp.game_id) %>
      <p id="name"><%= m.event_name %> </p>
      <p> Sport: <%= m.sport %> </p>
      <p> Players Needed: <%= m.players_needed %> </p>
      <p> Current Players: <%= m.current_players %> </p>
      <p> Skill: <%= m.skill %> </p>
      <p> Time: <%= m.time %> </p>
      <p> --------------------</p>
    </li>
  </ul>
<% end %>


<%= link_to 'Back to Profile', users_profile_path, class: 'back_profile' %>

</div>
</center>

</div>

