
  <div class = "index_container" id = "join_game_image">
  </div>

  <div class = "dash_banner">
       <div class = "dash_header">JOINED GAMES</div>
    </div>

<div class = "joined_games">

<% @rsvps.each do |rsvp| %>
  <ul>
    <li>
      <% m = Game.find_by(id:rsvp.game_id) %>
      <p id="name"><%= m.event_name %> </p>
      <p> Address: <%=m.address %></p>
      <p> Neighbourhood: <%=m.neighbourhood %></p>
      <p> Sport: <%= m.sport %> </p>
      <p> Players Needed: <%= m.players_needed %> </p>
      <p> Current Players: <%= m.current_players %> </p>
      <p> Skill: <%= m.skill %> </p>
      <p> Time: <%= m.time %> </p>
      <p> --------------------</p>
    </li>
  </ul>
<% end %>

<h3 id="back">
<%= link_to 'Back to Profile', users_profile_path, class: 'back_profile' %>
</h3>

</div>
</center>
