<center>
  <div class="games">
  <% @games.each do |game| %>
    <h3><%= link_to game.event_name, game_path(game.id) %></h3>
    <p>Sport: <%= game.sport %></p>
    <p>Players Needed: <%= game.players_needed %> </p>
    <p>Currently Have: <%= game.current_players %> </p>
    <p>Skill: <%= game.skill %> </p>
    <p> Date: <%= game.date %> </p>
    <p>Time: <%= game.time %> </p>
  <% end %>

</div>

</center>
