<!DOCTYPE html>
<html>

  <head>
    <title>TeamUp</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Josefin+Sans:700|Libre+Baskerville" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Sarpanch" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <nav class = 'navbar'>
      <ul>
        <li><a href = '/index'>HOME</a></li>
        <% if current_user %>
        <li><a href = '/users/profile'>PROFILE</a></li>
        <li><a href = '/games/new'>START A GAME</a></li>
        <% end %>
        <li><a href = '/search'>FIND A GAME</a></li>
        <li><a href = '/about'>ABOUT US</a></li>
        <% if current_user %>
          <li><%= link_to "LOGOUT" , logout_path(id:current_user), method: :destroy%></li>
          <% elsif %>
          <li><span id = "loginbutton"><%= link_to "LOGIN", remote: true %></span></li>
          <li><%= link_to "REGISTER", new_user_path %></li>
      <% end %>
    </ul>
  </nav>
  <!-- <h1 id='logo'> Team Up </h1> -->

      <!-- YOU ARE NOW LOGGED IN AS -->
      <div class = "welcome">
        <% if current_user %>
          <%= "You are currently logged in as: #{current_user.email}" %>
        <% end %>
      </div>
    </nav>

    <!-- LOGIN FORM (HIDDEN) BEING USED WITH JAVASCRIPT! -->
    <div class="loginform_container">

      <div class = "loginform">

      <h1 id="logintext">Log In</h1>

      <%= form_for :session, url: sessions_path do |f| %>

        <div class='field'>
          <%= f.label :email %>
          <br>
          <%= f.email_field :email%>
        </div>
        <br>
        <div class='field'>
          <%= f.label :password %>
          <br>
          <%= f.password_field :password %>
        </div>
        <br>
        <br>
        <%= f.submit 'Login' %>
        <%= f.submit 'Play Ball' %>

      <% end %>

      <button id="exit-form">x</button>

      </div>
    </div>


  <main>
    <%= yield %>
  </main>

<!-- google maps url -->
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlGnBvt0DySOTD4Oh0AJ3N-vWRDt1xnkE&callback=initMap&libraries=places">
  </script>

  </body>

  <footer>
    <h4 id = "footer"> &copy;TeamUP | Bitmaker 2017 </h4>
  </footer>

</html>
