<!DOCTYPE html>
<html>

  <head>
    <title>TeamUp</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Josefin+Sans:700|Libre+Baskerville" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <link type= 'text/css' rel= 'stylesheet' href= '/stylesheets/style.css'>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">

  </head>

  <body>

      <h1 id = 'logo'> Team Up </h1>
      <h2 id = 'slogan'> Join in with TeamUp! </h2>

    <nav class="site-nav">
      <ul>
        <li><%= link_to "LOGIN", :login %></li>
        <li><%= link_to "REGISTER", new_user_path %></li>
        <li><%= link_to "LOGOUT", sessions_path, method: :destroy %></li>
      </ul>
    </nav>

    <nav class = 'navbar'>
        <a href = '/index'> HOME </a>
        <a href = '/games/new'> START A GAME </a>
        <a href = '/search'> FIND A GAME </a>
        <a href = '/about'> ABOUT US </a>
    </nav>


  <main>
    <%= yield %>
  </main>

<!-- google maps url -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlGnBvt0DySOTD4Oh0AJ3N-vWRDt1xnkE&callback=initMap&libraries=places"
  async defer></script>

  </body>

  <footer>
    <h4> &copy;TeamUP | Bitmaker 2017 </h4>
  </footer>

</html>
