<!DOCTYPE html>
<html>

  <head>
    <title>TeamUp</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Josefin+Sans:700|Libre+Baskerville" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Sarpanch" rel="stylesheet">

  </head>

  <body>

  <div class = "top_of_page">

    <h1 id='logo'> Team Up </h1>
    <nav class = 'navbar'>
        <a href = '/index'> HOME &ensp;  </a>
        <% if current_user %>
        <a href = '/users/profile'> PROFILE |</a>
        <a href = '/games/new'> START A GAME |</a>
        <% end %>
        <a href = '/search'> FIND A GAME |</a>
        <a href = '/about'> ABOUT US </a>
    </nav>

  <div class = "navnav">
    <nav class="site-nav">
        <% if current_user %>
        <%= link_to "LOGOUT" , logout_path(id:current_user), method: :destroy%>
        <% elsif %>
        <span id = "loginbutton"><%= link_to "LOGIN", remote: true %></span>
        <%= link_to "REGISTER", new_user_path %>
      <% end %>
  </div>
      <!-- YOU ARE NOW LOGGED IN AS -->
      <div class = "welcome">
        <% if current_user %>
          <%= "You are currently logged in as: #{current_user.email}" %>
        <% end %>
      </div>
    </nav>


<<<<<<< HEAD
=======
  </div>
>>>>>>> 5a2bb3dc421910656cc105c867fcee00f59a5cbe

    <!-- LOGIN FORM (HIDDEN) BEING USED WITH JAVASCRIPT! -->
    <div class="loginform_container">

      <div class = "loginform">

      <h1 id="logintext">Log In</h1>

      <%= form_for :session, url: sessions_path do |f| %>

        <div class='field'>
          <%= f.label :email %>
          <br>
          <%= f.email_field :email%>
        </div>
        <br>
        <div class='field'>
          <%= f.label :password %>
          <br>
          <%= f.password_field :password %>
        </div>
        <br>
        <br>
<<<<<<< HEAD
        <%= f.submit 'Login' %>
=======
        <%= f.submit 'Play Ball' %>
>>>>>>> 5a2bb3dc421910656cc105c867fcee00f59a5cbe

      <% end %>

      <button id="exit-form">x</button>

      </div>
    </div>



  <main>
    <%= yield %>
  </main>

<!-- google maps url -->
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlGnBvt0DySOTD4Oh0AJ3N-vWRDt1xnkE&callback=initMap&libraries=places">
  </script>


  </body>

  <footer>
    <h4 id = "footer"> &copy;TeamUP | Bitmaker 2017 </h4>
  </footer>

</html>
