<!DOCTYPE html>
<html>

  <%= render partial: 'shared/head' %>

  <head>

    <%= csrf_meta_tags %>
    <link type= 'text/css' rel= 'stylesheet' href= 'stylesheets/style.css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">

    <title>TeamUp</title>

  </head>


  <body>

    <header>
      <h1 id = 'logo'> Team Up </h1>
      <h2 id = 'slogan'> Join in with TeamUp! </h2>

      <nav class = 'navbar'>
          <a href = '/index'> HOME </a>
          <a href = '/games/new'> START A GAME </a>
          <a href = '/search'> FIND A GAME </a>
          <a href = '/about'> ABOUT US </a>
      </nav>

      <nav class="account-nav">
        <% if current_user %>
          <%= link_to "Logout", :logout, method: :delete %>
        <% else %>
          <%= link_to "Sign Up", new_user_path %> |
          <%= link_to "Login", :login %>
        <% end %>
      </nav>

    </header>

    <main>

      <%= yield %>

    </main>

  </body>

  <footer>
    <h4> &copy;TeamUP | Bitmaker 2017 </h4>
  </footer>

</html>
