<!DOCTYPE html>
<html>

  <head>
    <title>TeamUp</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Josefin+Sans:700|Libre+Baskerville" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">

  </head>

  <body>

      <h1 id = 'logo'> Team Up </h1>
      <h2 id = 'slogan'> Join in with TeamUp! </h2>

    <nav class = 'navbar'>
        <a href = '/index'> HOME </a>
        <a href = '/users/profile'> PROFILE </a>
        <a href = '/games/new'> START A GAME </a>
        <a href = '/search'> FIND A GAME </a>
        <a href = '/about'> ABOUT US </a>
    </nav>

    <nav class="site-nav">
      <ul>
        <li><%= link_to "LOGIN", :login %></li>
        <li><%= link_to "REGISTER", new_user_path %></li>
        <li><%= link_to "LOGOUT", logout_path(id:current_user), method: :destroy %></li>
      </ul>
    </nav>


  <main>
    <%= yield %>
  </main>



    <header>
      <h1 id = 'logo'> Team Up </h1>
      <h2 id = 'slogan'> Join in with TeamUp! </h2>

      <nav class = 'navbar'>
          <a href = '/index'> HOME </a>
          <a href = '/users/profile'> MY PROFILE </a>
          <a href = '/games/new'> START A GAME </a>
          <a href = '/search'> FIND A GAME </a>
          <a href = '/about'> ABOUT US </a>
      </nav>

      <nav class="account-nav">
        <% if current_user %>
          <%= link_to "Logout", :logout, method: :delete %>
        <% else %>
          <%= link_to "Sign Up", new_user_path %> |
          <%= link_to "Login", :login %>
        <% end %>
      </nav>

    </header>

    <main>

      <%= yield %>

    </main>


<!-- google maps url -->
  </body>

  <footer>
    <h4> &copy;TeamUP | Bitmaker 2017 </h4>
  </footer>

</html>
